// Preloader Animations
@keyframes fillInCircle {
	0% {
		transform: translate(-50%, 104%);
	}
	80% {
		transform: translate(-50%, 50%);
	}
	100% {
		transform: translate(-50%, 0%);
	}
}

@keyframes jiggleCircle {
	0% {
		transform: translate(-50%, -50%) scale(1, 1) translateZ(0) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) scale(1, 1) translateZ(0) rotate(360deg);
	}
}

// Menu Animation
@keyframes menu-animation {
	0% {
		opacity: 0;
		transform: scale(0.04) translateY(300%);
	}
	40% {
		transform: scale(0.04) translateY(0);
		transition: ease-out;
	}
	40% {
		transform: scale(0.04) translateY(0);
	}
	60% {
		opacity: 1;
		transform: scale(0.02) translateY(0px);
	}
	61% {
		transform: scale(0.04);
	}
	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}
	100% {
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}

// Banner Animations
@keyframes animateText {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes colorFill {
	from {
		fill: transparent;
		text-decoration: none;
	}
	to {
		fill: $light-color;
	}
}
