// Preloader Animations
@keyframes preloaderSpinBefore {
	0% {
		transform: translate(-198px, -3px);
		width: 70px;
		height: 0px;
	}
	20% {
		transform: translate(3px, -3px);
		width: 70px;
		height: 0px;
	}
	25% {
		transform: translate(3px, -3px);
		width: 0px;
		height: 60px;
	}
	50% {
		transform: translate(3px, 199px);
		width: 0px;
		height: 40px;
	}
	100% {
		transform: translate(3px, 199px);
		width: 0px;
		height: 40px;
	}
}
@keyframes preloaderSpinAfter {
	0% {
		transform: translate(198px, 3px);
		width: 40px;
		height: 0px;
	}
	20% {
		transform: translate(-3px, 3px);
		width: 40px;
		height: 0px;
	}
	25% {
		transform: translate(-3px, 3px);
		width: 0px;
		height: 40px;
	}
	60% {
		transform: translate(-3px, -199px);
		width: 0px;
		height: 60px;
	}
	100% {
		transform: translate(-3px, -199px);
		width: 0px;
		height: 60px;
	}
}

// Banner Animations
@keyframes animateText {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes colorFill {
	from {
		fill: transparent;
		text-decoration: none;
	}
	to {
		fill: $light-color;
	}
}
