* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $primary-font;
	line-height: 1.6;
	background: $body-color;
	color: $dark-color;
	@include transition(all, 1s, ease-in-out);
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
}

p {
	margin-bottom: 10px;
}
