.container {
	max-width: $website-width;
	margin: auto;
	overflow: hidden;
}

h2 {
	font-size: 4rem;
	font-family: "Indie Flower", cursive;
	text-align: center;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.2rem;
}

// Buttons
.btn {
	@include flex-center;
	min-width: 10rem;
	height: 50px;
	background: $primary-color;
	color: $white;
	border-radius: 50px;
	font-size: 1.2em;
	cursor: pointer;
	@include transition();

	&:hover {
		background: $secondary-color;
	}
}

.btn-secondary {
	@extend .btn;
	background: #fff;
	color: $primary-color;

	&:hover {
		background: $light-color;
	}
}

// Class to center all content
.center-all {
	@include flex-center;
}
