.container {
	max-width: $website-width;
	margin: auto;
	overflow: hidden;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.2rem;
}

// Buttons
.btn {
	display: inline-block;
	min-width: 180px;
	height: 50px;
	line-height: 50px;
	background: $primary-color;
	color: #fff;
	border-radius: 50px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	@include transition();

	&:hover {
		background: $secondary-color;
	}
}

.btn-secondary {
	@extend .btn;
	background: #fff;
	color: $primary-color;

	&:hover {
		background: $light-color;
	}
}

// Class to center all content
.center-all {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
