// Fonts___________________________________________________________________
$primary-font: "Open Sans", sans-serif;
$menu-font: "Montserrat", sans-serif;

// Colors________________________________________________________________
// - pallete
$primary-color: #6799a7;
$secondary-color: #eecc80;
$tertiary-color: #eb9843;
$quaternary-color: #d15453;
$quinary-color: #ea8787;
$senary-color: #287686;

// - pallete transparent
$primary-color-transparent: rgba(103, 153, 167, 0.4);
$secondary-color-transparent: rgba(238, 204, 128, 0.4);
$tertiary-color-transparent: rgba(235, 152, 67, 0.4);
$quaternary-color-transparent: rgba(209, 84, 83, 0.4);
$quinary-color-transparent: rgba(234, 135, 135, 0.4);
$senary-color-transparent: rgba(40, 118, 134, 0.4);

// - body
$body-color: #333;

// - light colors
$light-color: #f4f4f4;
$medium-color: #ccc;

// - dark colors
$dark-color: #333;

// - standard
$black: #000;
$white: #fff;

// - set text color
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #fff;
	}
}
