.billboard {
	display: flex;
	justify-content: center;
	align-items: center;

	&__packages {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		gap: 1rem;
		padding: 3rem 0;
	}

	&__box {
		border: 1px solid $white;
		border-radius: 0.5rem;
		flex-direction: column;
		position: relative;
		padding: 4rem 1.5rem;
	}

	&__icon {
		position: absolute;
		top: -2.5rem;
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		color: $white;
		font-size: 3em;
		box-shadow: 0 1rem 1.5rem 0 rgba($dark-color, 0.375), inset 0 -3px 0 0 rgba($dark-color, 0.125);

		&--standard {
			background: $tertiary-color;
		}

		&--middle {
			background: $quaternary-color;
		}

		&--premium {
			background: $quinary-color;
		}
	}

	&__btn {
		position: absolute;
		bottom: -2.5rem;
		width: 12rem;
		height: 4rem;

		.btn {
			box-shadow: 0 0.6rem 1rem rgba($dark-color, 0.375);
			@include transition(all, 0.3s, ease-in-out);

			&:hover {
				transform: translateY(-0.5rem);
			}
		}

		&--standard {
			.btn {
				background: $tertiary-color;

				&:hover {
					background-color: $tertiary-color;
					box-shadow: 0 1rem 1.5rem $tertiary-color-transparent;
				}
			}
		}

		&--middle {
			.btn {
				background: $quaternary-color;

				&:hover {
					background-color: $quaternary-color;
					box-shadow: 0 1rem 1.5rem $quaternary-color-transparent;
				}
			}
		}

		&--premium {
			.btn {
				background: $quinary-color;

				&:hover {
					background-color: $quinary-color;
					box-shadow: 0 1rem 1.5rem $quinary-color-transparent;
				}
			}
		}
	}
}
