.section {
	height: 100vh;
	transition: all 1s;
	overflow: hidden;

	@media (max-width: 992px) {
		height: initial;
	}
}

.primary-color {
	background-color: $primary-color;
}
.secondary-color {
	background-color: $secondary-color;
}
.tertiary-color {
	background-color: $tertiary-color;
}
.quaternary-color {
	background-color: $quaternary-color;
}
.quinary-color {
	background-color: $quinary-color;
}
