.cursor {
	pointer-events: none;

	&__ball {
		position: fixed;
		border-radius: 100%;
		z-index: 10000;
		transform: scale(1);

		&--main {
			background-color: $white;
			width: 0.7rem;
			height: 0.7rem;
			left: -0.7rem;
			top: -0.7rem;
		}

		&--follow {
			border: 1px solid $white;
			width: 2rem;
			height: 2rem;
			left: -1.35rem;
			top: -1.35rem;
			user-select: none;
		}
	}
}
