figure img {
	object-fit: contain;
	width: auto;
}

.height-170 {
	height: 170px;
}

.height-200 {
	height: 200px;

	@media (max-width: 1440px) {
		height: 90px;
	}
}

.height-250 {
	height: 250px;
}

.height-350 {
	height: 350px;
}

#bilbord {
	position: relative;

	.megaphone-img {
		position: absolute;
		right: 50px;
		top: 20vh;
	}

	.bomb-img {
		margin-left: 10vw;
	}
}

.drone {
	position: relative;

	.lightbulb-img {
		margin-left: 20vw;
	}

	.clock-img {
		position: absolute;
		left: 50px;
		top: 40vh;
	}

	.rocket-img {
		position: absolute;
		right: 20px;
		top: 20vh;
	}
}

.pricing {
	position: relative;

	.mobile-img {
		position: absolute;
		right: 20px;
		top: 60vh;
	}

	.timebomb-img {
		position: absolute;
		left: 50px;
		top: 10vh;
	}
}

.contact {
	position: relative;

	.zap-img {
		margin-left: 30vw;
	}

	.mouth-img {
		position: absolute;
		left: 200px;
		top: 40vh;
	}

	.phone-img {
		position: absolute;
		right: 20px;
		top: 60vh;
	}
}
