// Loader
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: brown;

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1, 1) translateZ(0);
		width: 200px;
		height: 200px;
		border: 3px solid brown;
		border-radius: 50%;
		overflow: hidden;

		&:before {
			position: absolute;
			content: "";
			display: block;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 104%);
			width: 370px;
			height: 200px;
			border-radius: 50%;
			background-color: #ef4361;
			animation: fillInCircle 2s forwards linear;
			z-index: 1;
		}
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1, 1) translateZ(0);
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border-top: 5px solid brown;
		overflow: hidden;
		animation: jiggleCircle 2s infinite linear;
		z-index: 2;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 35px;
		font-weight: 900;
		color: #ef4361;
		z-index: 2;
		transform: translate(-50%, -50%);
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgb(240, 240, 241);
	}
}

.loaded {
	.loader {
		visibility: hidden;
		transform: translateY(-100%);
		transition: all 0.3s 1s ease-out;

		&__content {
			opacity: 0;
			transition: all 0.3s ease-out;
		}

		&__section {
			&--left {
				transform: translateX(-100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&--right {
				transform: translateX(100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}
	}
}
