// Loader
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: brown;

	&__content {
		width: 202px;
		height: 202px;
		overflow: hidden;
	}

	&__container {
		width: 200px;
		height: 200px;
		border: 2px solid rgba(235, 235, 236, 0.1);

		&:before,
		&:after {
			position: absolute;
			content: "";
			display: block;
			width: 40px;
			height: 0px;
		}

		&:before {
			top: 0;
			right: 0;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			transform: translate(-198px, -2px);
			animation: preloaderSpinBefore 2s infinite linear;
		}

		&:after {
			bottom: 0;
			left: 0;
			border-bottom: 2px solid #fff;
			border-left: 2px solid #fff;
			transform: translate(200px, 2px);
			animation: preloaderSpinAfter 2s 0.9s infinite linear;
		}
	}

	&__position {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__logo {
		padding: 3rem;
	}
}

.loaded {
	.loader {
		visibility: hidden;
		transform: translateY(-100%);
		transition: all 0.3s 1s ease-out;

		&__content {
			opacity: 0;
			transition: all 0.3s ease-out;
		}

		&__section {
			&--left {
				transform: translateX(-100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&--right {
				transform: translateX(100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}
	}
}
