.pricing {
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		margin-bottom: 2rem;
	}

	&__text {
		font-size: 1.4em;
		text-align: center;
	}

	&__packages {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		gap: 1rem;
		padding: 3rem 0;
	}

	&__box {
		border-radius: 10px;
		border: 3px solid;
		flex-direction: column;
		position: relative;
		background: $light-color;

		&--standard {
			border-color: $primary-color;
		}

		&--middle {
			border-color: $quaternary-color;
		}

		&--premium {
			border-color: $quinary-color;
		}

		&--standard-social {
			border-color: $tertiary-color;
		}

		&--middle-social {
			border-color: $primary-color;
		}

		&--premium-social {
			border-color: $secondary-color;
		}
	}

	&__icon {
		position: absolute;
		top: -2.5rem;
		height: 80px;
		width: 80px;
		border-radius: 50%;
		color: $white;
		font-size: 3em;
		box-shadow: 0 1rem 1.5rem 0 rgba($dark-color, 0.375), inset 0 -3px 0 0 rgba($dark-color, 0.125);

		&--standard {
			background: $primary-color;
		}

		&--middle {
			background: $quaternary-color;
		}

		&--premium {
			background: $quinary-color;
		}

		&--standard-social {
			background: $tertiary-color;
		}

		&--middle-social {
			background: $primary-color;
		}

		&--premium-social {
			background: $secondary-color;
		}
	}

	&__headline {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		height: 100px;
		padding: 1rem;
		border-radius: 0.3rem 0.3rem 0 0;

		&--standard {
			background: linear-gradient(
				0.45turn,
				lighten($primary-color, 20%),
				lighten($primary-color, 10%),
				darken($primary-color, 10%),
				darken($primary-color, 20%),
				darken($primary-color, 30%)
			);
		}

		&--middle {
			background: linear-gradient(
				0.45turn,
				lighten($quaternary-color, 20%),
				lighten($quaternary-color, 10%),
				darken($quaternary-color, 10%),
				darken($quaternary-color, 20%),
				darken($quaternary-color, 30%)
			);
		}

		&--premium {
			background: linear-gradient(
				0.45turn,
				lighten($quinary-color, 20%),
				lighten($quinary-color, 10%),
				darken($quinary-color, 10%),
				darken($quinary-color, 20%),
				darken($quinary-color, 30%)
			);
		}

		&--standard-social {
			background: linear-gradient(
				0.45turn,
				lighten($tertiary-color, 20%),
				lighten($tertiary-color, 10%),
				darken($tertiary-color, 10%),
				darken($tertiary-color, 20%),
				darken($tertiary-color, 30%)
			);
		}

		&--middle-social {
			background: linear-gradient(
				0.45turn,
				lighten($primary-color, 20%),
				lighten($primary-color, 10%),
				darken($primary-color, 10%),
				darken($primary-color, 20%),
				darken($primary-color, 30%)
			);
		}

		&--premium-social {
			background: linear-gradient(
				0.45turn,
				lighten($secondary-color, 20%),
				lighten($secondary-color, 10%),
				darken($secondary-color, 10%),
				darken($secondary-color, 20%),
				darken($secondary-color, 30%)
			);
		}

		h3 {
			font-size: 1.5em;
		}
	}

	&__pricing {
		width: 100%;

		&--standard {
			background: $primary-color;
		}

		&--middle {
			background: $quaternary-color;
		}

		&--premium {
			background: $quinary-color;
		}

		&--standard-social {
			background: $tertiary-color;
		}

		&--middle-social {
			background: $primary-color;
		}

		&--premium-social {
			background: $secondary-color;
		}
	}

	.price {
		font-weight: bold;

		&__currency {
			font-size: 1.3em;
			top: 0.7rem;
		}

		&__sum {
			font-size: 3em;
		}

		&__period {
			font-size: 1em;
			font-style: italic;
		}
	}

	&__info {
		margin: 2rem 1.5rem 0.5rem 1.5rem;
		border-bottom: 2px solid;

		span {
			font-size: 1.1em;
			font-weight: bold;
		}

		&--standard {
			border-color: $primary-color;

			span {
				color: $primary-color;
			}
		}

		&--middle {
			border-color: $quaternary-color;

			span {
				color: $quaternary-color;
			}
		}

		&--premium {
			border-color: $quinary-color;

			span {
				color: $quinary-color;
			}
		}

		&--standard-social {
			border-color: $tertiary-color;

			span {
				color: $tertiary-color;
			}
		}

		&--middle-social {
			border-color: $primary-color;

			span {
				color: $primary-color;
			}
		}

		&--premium-social {
			border-color: $secondary-color;

			span {
				color: $secondary-color;
			}
		}
	}

	&__discount {
		margin: 0 1.5rem;

		h4 {
			font-size: 1em;
		}

		span {
			font-style: italic;
		}

		&--standard {
			border-color: $primary-color;

			h4,
			span {
				color: $primary-color;
			}
		}

		&--middle {
			border-color: $quaternary-color;

			h4,
			span {
				color: $quaternary-color;
			}
		}

		&--premium {
			border-color: $quinary-color;

			h4,
			span {
				color: $quinary-color;
			}
		}

		&--standard-social {
			border-color: $tertiary-color;

			h4,
			span {
				color: $tertiary-color;
			}
		}

		&--middle-social {
			border-color: $primary-color;

			h4,
			span {
				color: $primary-color;
			}
		}

		&--premium-social {
			border-color: $secondary-color;

			h4,
			span {
				color: $secondary-color;
			}
		}
	}

	&__price-info {
		font-size: 0.6em;
		padding: 0 2rem;
	}

	&__pdv-info {
		font-size: 0.6em;
		margin-bottom: 3rem;
	}

	&__btn {
		position: absolute;
		bottom: -2.5rem;
		width: 12rem;
		height: 60px;

		.btn {
			box-shadow: 0 0.6rem 1rem rgba($dark-color, 0.375);
			@include transition(all, 0.3s, ease-in-out);

			&:hover {
				transform: translateY(-0.5rem);
			}
		}

		&--standard {
			.btn {
				background: $primary-color;

				&:hover {
					background-color: $primary-color;
					box-shadow: 0 1rem 1.5rem $primary-color-transparent;
				}
			}
		}

		&--middle {
			.btn {
				background: $quaternary-color;

				&:hover {
					background-color: $quaternary-color;
					box-shadow: 0 1rem 1.5rem $quaternary-color-transparent;
				}
			}
		}

		&--premium {
			.btn {
				background: $quinary-color;

				&:hover {
					background-color: $quinary-color;
					box-shadow: 0 1rem 1.5rem $quinary-color-transparent;
				}
			}
		}

		&--standard-social {
			.btn {
				background: $tertiary-color;

				&:hover {
					background-color: $tertiary-color;
					box-shadow: 0 1rem 1.5rem $tertiary-color-transparent;
				}
			}
		}

		&--middle-social {
			.btn {
				background: $primary-color;

				&:hover {
					background-color: $primary-color;
					box-shadow: 0 1rem 1.5rem $primary-color-transparent;
				}
			}
		}

		&--premium-social {
			.btn {
				background: $secondary-color;

				&:hover {
					background-color: $secondary-color;
					box-shadow: 0 1rem 1.5rem $secondary-color-transparent;
				}
			}
		}
	}
}
